{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block body %}

<main class="container">
<div class="contain-img" style="position:relative;top:-20px;left:-134px;">
    <img src="static/4.jpg" style="height:590px;width:124%;" alt="...">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic" style="width:134%;position:relative;left:20px; color:blue; font-family:Lucida Console;" >Our Story -Contact Us</h1>
      <p class="lead my-2 mb-0" style="width:1300px;position:relative;left:20px;">The Spooky Nook Sports founders traveled the country with their daughter attending volleyball tournaments. The more they visited each tournament, the more they realized they were struck by the lack of sports facilities that offered quality customer service.</p>
      <p class="lead mb-0"><a href="#" class="text-white fw-bold ">Continue reading...</a></p>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-md-6 ">
      <div class="row g-0 mx-1 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Our Story</strong>
          <h3 class="mb-0"> Reasons Why Your Company Should Invest In Events</h3>
          <div class="mb-1 text-muted">Nov 12</div>
          <p class="card-text mb-auto">TIt's not a big deal, but it's a developer. I did not get pregnant during the course of my life. But it's not worth the time and laughter, friends.</p>
          <a href="https://www.spookynooksports.com/manheim/blog/meetings-events/5-reasons-why-your-company-should-invest-in-events" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="https://source.unsplash.com/1200x900/?sport,basketball" class="d-block" style="width:170px;height:240px" alt="..."/>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">New story</strong>
          <h3 class="mb-0">Food and Drink Ideas for Your Next Corporate Event</h3>
          <div class="mb-1 text-muted">Nov 11</div>
          <p class="mb-auto">Food and drinks are centerpieces of any event you attend, whether it's a trade show or a corporate holiday party. But how do you know what meals and beverages you should serve at your function?
          </p>
          <a href="https://www.spookynooksports.com/manheim/blog/meetings-events/food-drink-ideas-corporate-events" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="https://source.unsplash.com/1200x900/?sport,basketballplayer" class="d-block" style="width:170px;height:240px" alt="..."/>
        </div>
      </div>
    </div>
  </div>

  <div class="row g-5">
    <div class="col-md-8">
     <button type="button" class="btn btn-outline-primary mt-0 mb-3" style="border-radius:18px">Subscribe</button>

      <article class="blog-post">
        <h2 class="blog-post-title">Train + Compete</h2>

        <p>TWhatever your preferred sport is, our certified trainers offer guidance and encouragement to help you succeed in your athletic endeavors</p>
        <hr>
        <p>Spooky Nook Sports is a family fun experience for day trips. So be sure to stop in and put your climbing shoes on, hit the batting cages, grab a bite to eat, or take control in the arcade.</p>

     </div>
 </main>
{% endblock body %}