{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block body %}


<div><img src="/static/1.jpg" style="width:1380px;height:900px"></div>
<div><img src="/static/2.jpg"  style="width:1380px;height:900px"></div>
<div><img src="/static/3.jpg"  style="width:1380px;height:900px"></div>
<div><img src="/static/10.jpg" style="width:1380px;height:900px"></div>
<div><img src="/static/11.jpg" style="width:1380px;height:900px"></div>

<div class="bg-text">NBA Player</div>

<div class="tour my-4" style="position:relative;left:100px;width:80%">
<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card mb-2">
      <img src="/static/6.jpg" style="height:260px" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Organize A Basketball Tournament</h5>
        <p class="card-text">The customer is very important, the customer will be followed by the customer. But the course of the cat's pregnant hairstyle also cartoons. But with the arrow, what time is the price of laughter, comrades? It will be possible to have a great adipiscing level sometimes.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-2">
      <img src="/static/7.jpg"style="height:260px" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Registering Teams</h5>
        <p class="card-text">Teams need an easy way to enter the tournament. Create registration rules and costs and establish your open and closed registration dates. Organizers must strive to adhere to these dates to ensure fairness for all competitors. </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/static/8.jpg"style="height:260px" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Host Your Basketball Tournament</h5>
        <p class="card-text">From scheduling to staffing, we can help. If you're putting together a basketball tournament, contact us. We have 10 full-size indoor hardwood basketball courts on a centrally located campus with an on-site hotel. Get in touch with us today!</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/static/9.jpg"style="height:260px" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">2023 Tournaments are Coming Your Way</h5>
        <p class="card-text">Surrounded by soccer fans in a festival atmosphere, 32 teams will compete in a "World Cup style" format consisting of group play and single elimination knockout rounds in their quest for $1 million.</p>
      </div>
    </div>
  </div>
</div>
</div>


{% endblock body %}